body {
    color: whitesmoke;
    background: black;
    margin: 0px;
    font-family: "Quicksand", sans-serif;
}

header {
    border-bottom: solid 2px rgb(148, 31, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(138, 2, 2);
}

section {
background: rgb(153, 17, 17);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}

h1 {
font-size: 40px;
}
p {
    font-size: 25px;
}

img{
height: 250px
}